* {
    background-color: #d9f0ff;
}
  
  h1 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 50px;
    background-color: #59696f;
    color: #ffffff;
  }

  h2 {
    font-family: 'Noto Sans HK', sans-serif;
  }

  h3 {
    font-family: 'Noto Sans HK', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    width: 900px;
  }

  nav {
    font-family: 'Montserrat', sans-serif;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
  }
  
  nav a:hover {
    color: white;
    background-color: #a1c349;
  }
  
  main {
    background-color: #d9f0ff;
    font-size: 17px;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Montserrat', sans-serif;
  }
  
  main em {
    font-weight: bold;
  }

  img {
    height: 20em;
        margin-right: auto;
        margin-left: auto;
        float: left;
        padding-left: 2em;
        padding-right: 2em;
  }
  
  footer {
    font-family: 'Montserrat', sans-serif;
  }
