* {
    background-color: #fefee3;
}
  
  h1 {
    font-family: 'Akaya Kanadaka', cursive;
    text-align: center;
    font-size: 70px;
    background-color: #fefee3;
    color: #4c9563;
  }

  h2 {
    font-family: 'Indie Flower', cursive;
  }

  h3 {
    font-family: 'Indie Flower', cursive;
  }
  
  a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    width: 900px;
  }

  nav {
    font-family: 'Poppins', sans-serif;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
  }
  
  nav a:hover {
    color: white;
    background-color: #ffc9b9;
  }
  
  main {
    font-size: 17px;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Poppins', sans-serif;
  }
  
  main em {
    font-weight: bold;
  }

  img {
    height: 20em;
        margin-right: auto;
        margin-left: auto;
        float: left;
        padding-left: 2em;
        padding-right: 2em;
  }
  
  footer {
    font-family: 'Poppins', sans-serif;
  }
